body, html {
    background-color: #e8ecf2;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
main {
    height: 100%;
}

h2 {
    margin: 0px;
}

p {
    margin: 0px;
}

.cuadrado {
    height: 80px;
    width: 80px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
}