body, html {
    background-color: rgb(170, 170, 170);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
main {
    height: 100%;
}

.centrarcard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.cardheader {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.perfil {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-self: center;
}



h1 {
    color: blueviolet;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-self: center;
}

h2 {
    color: rgb(61, 60, 60);
    font-size: 16px;
    display: flex;
    align-self: center;
}

.ubicacion {
    display: flex;
    align-self: center;
}

.iconos {
    height: 30px;
    width: 30px;

}

.numeros {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
.bases {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.iconosposicion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gps {
    height: 20px;
    width: 20px;

}
.facebook {
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px

}
.instagram {
    background-color: rgb(240, 66, 162);
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px

}
.github {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px

}

.twitter {
    background-color: lightblue;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px

}

.follow {
    background-color: rgb(252, 64, 127);
    height: 50px;
    width: 180px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.moverfollow {
    display: flex;
    justify-content: center;
}

