body, html {
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: calc(100% - 160px);
}

header {
    height: 60px;
    background-color: rgb(255, 227, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 40px;
    background-color: rgb(138, 23, 245);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 60px;
    background-color: rgb(190, 129, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}