html, body{
     height: 100%;
 }
 header{
     background-color: green;
     height: 40px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
 }
 a{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 15px;
     color: white;
     text-decoration: none;
     margin: 15px;
 }
 i.fas.fa-bars{  
     display: none;
 }
 @media screen and (max-width: 450px){
     i.fas.fa-bars{
         display: flex;
         margin-right: 5px;
     }
     a{
         display: none;
     }
    header {
        justify-content: flex-end;
    }}